<div class="hero-image u-bg-primary u-bg-center u-bg-no-repeat u-bg-cover u-relative u-h-75vh u-breakout u-mb-10"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/{{ include.img_src }}');">
  <div class="u-container u-h-full">
    <div class="hero-text u-flex u-flex-col u-h-full u-justify-center u-text-center u-text-white">
      {{ component('heading', {
        heading: include.heading,
        heading_level: 1,
        heading_classes: "u-text-h2 lg:u-text-h1 xl:u-text-hero",
        omit_base_class: true
      }) }}

      {% if include.summary %}
        <div>{{ include.summary }}</div>
      {% endif %}
    </div>
  </div>
</div>