{%- from "system/component.njk" import component -%}
<footer class="u-bg-primary u-text-white u-py-6">
  <div class="md:u-flex-row u-container u-flex u-flex-col">
    <div class="u-flex u-flex-col md:u-w-1/2">
      <p class="u-p-1 u-border-l">Francesca Ranga</p>
      {% if site.phoneNumber %}
        {{ component('link', {
          text: site.phoneNumber,
          url: 'tel:' ~ site.phoneNumber,
          classes: 'u-p-1 u-border-l hover:u-underline'
        }) }}
      {% endif %}

      {{ component('link', {
        text: site.email,
        url: 'mailto:' ~ site.email,
        classes: 'u-p-1 u-border-l hover:u-underline'
      }) }}
    </div>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="u-flex u-flex-col md:u-w-1/2">
      <li class="u-p-1 u-border-l">
        {{ component('link', {
          text: 'Home',
          url: '/',
          classes: 'hover:u-underline'
        }) }}
      </li>
      {% for page in navPages %}
        <li class="u-p-1 u-border-l">
          {{ component('link', {
            text: page.title,
            url: page.url,
            classes: 'hover:u-underline'
          }) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>