{%- from "system/component.njk" import component -%}
<!-- capture the JS content as a Nunjucks variable -->
{% set header_js %}
    {% include "src/_includes/components/header.js" %}
{% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
    {{ header_js | jsmin | safe }}
</script>

<header class="u-border-b">
    <nav x-data="navigation" class="md:u-flex-row md:u-flex-wrap md:u-items-center md:u-justify-between u-container u-flex u-flex-col u-py-3">
        <div class="u-flex u-justify-between u-items-center">
              <a href="/" class="u-flex u-items-center u-justify-center">
                  <img class="u-w-20" src="/img/logo.svg" alt="hands together logo">
              </a>

            <button @click="toggle" :class="isOpen ? 'is-open' : ''" class="hamburger-lines md:u-hidden u-flex u-flex-col u-w-12 u-h-8 u-justify-between">
                <span class="line u-transition"></span>
                <span class="line u-transition"></span>
                <span class="line u-transition"></span>
            </button>
        </div>

      {% set navPages = collections.all | eleventyNavigation %}
      <ul :class="isOpen ? 'u-flex' : 'u-hidden'" class="nav-items u-mt-3 md:u-mt-0 md:u-flex u-flex-col md:u-flex-row md:u-items-center">
        {% for entry in navPages %}
          <li class="u-inline">
            <a
             href="{{ entry.url }}"
             class="u-uppercase u-py-1 md:u-px-2 u-mr-4 u-inline-block
             {{'u-border-b-2 u-border-primary' if entry.url in page.url
             else 'u-text-primary hover:u-text-gray-900'}}">
             {{ entry.title }}
           </a>
          </li>
        {% endfor %}
        {{ component('link', {
            text: 'Get in touch: 07368479874',
            url: 'tel:07368479874',
            classes: ''
        }) }}
     </ul>
    </nav>
</header>