---
title: Our Staff
layout: layouts/base.njk
permalink: /our-staff/
eleventyNavigation:
    key: Our Staff
    order: 1
---
{%- from "system/component.njk" import component -%}

{{ component('hero-header', {
    heading: title,
    img_src: "hands_togetHer_young.jpg",
    img_alt: "Hands in a huddle"
}) }}

<div class="u-space-y-12">
    {{ component('heading', {
        heading: "Meet our team",
        heading_level: 2
    }) }}

    {% for item in staff.items %}
        {{ component('staff-card', {
            name: item.name,
            img_src: item.image_src,
            img_alt: item.image_alt,
            bio: item.bio
        }) }}
    {% endfor %}
</div>