{% if include.heading_level %}
  {% set heading_level = include.heading_level %}
{% else %}
  {% set heading_level = 2 %}
{% endif %}

{% if include.omit_base_class %}
  {% set heading_classes %}{{ include.heading_classes }}{% endset %}
{% else %}
  {% set heading_classes %}u-text-h{{ heading_level }} u-mb-6 {{ include.heading_classes }}{% endset %}
{% endif %}

<h{{ include.heading_level }} class="u-relative {{ heading_classes }}">{{ include.heading }}</h{{ include.heading_level }}>
