---
title: Hands Together Healthcare
layout: layouts/base.njk
---
{%- from "system/component.njk" import component -%}

{{ component('hero-header', {
  heading: title,
  img_src: "love_heart_hands.jpg",
  img_alt: "3 women making love hearts with hands"
}) }}

<div class="u-space-y-16">
  {{ component('left-right', {
    img_src: "hands_together.jpg",
    img_alt: "Hands holding each other",
    heading: "About us",
    text: '<p>We aim to support health providers deliver the highest standards of Domcare nursing care when no one else can.
    Our goal is to be the trusted provider of exceptional nurses to the NHS and private health sector, often at extremely short notice.
    We believe that nothing should compromise nursing quality. With our experienced staff in responding to last-minute requirements,
    our service is fast, reliable, professional and most importantly, trusted.</p>'|safe
  }) }}

  {{ component('left-right', {
    reverse: true,
    heading: "Our services",
    text: '<p>We care passionately about our clients and with our nurses we strive to make a difference to the lives of
    patients and clients.</p>'|safe,
    img_src: "wheel_chair.jpg",
    img_alt: "Woman pushing older woman in a wheel chair",
    link_text: "See all",
    link_url: "/our-services"
  }) }}

  <div class="u-flex u-flex-col u-items-center u-space-y-6">
    {{ component('heading', {
      heading: "Our values",
      heading_level: 2
    }) }}

    <div class="u-grid u-grid-cols-1 md:u-grid-cols-2 lg:u-grid-cols-4 u-gap-4">
      {% for item in values.items %}
          {{ component('service-card', {
            heading: item.name,
            icon: item.icon,
            text: item.text
          }) }}
      {% endfor %}
    </div>

    {{ component('link', {
      text: "See all services",
      url: '/our-services',
      classes: 'btn-primary'
    }) }}
  </div>
</div>
